<div class="p-4">
  <div class="flex flex-col ">
    <div class="">
      <!--breadcrumb -->
      <!--breadcrumb -->
      <div class="pb-4 md:pb-8">
        <nav class="flex">
          <ol class="flex items-center justify-center ">
            <li class="mr-2">
              <a [routerLink]="['/']" class="text-gray-600 font-bold">
                Home
              </a>
            </li>
            <li>
              <div class="flex justify-center items-center  ">
                <svg class="w-4  h-4 mt-1 text-gray-400 mr-2" fill="none" stroke="currentColor"
                     stroke-width="2.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.25 4.5l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a [routerLink]="['/cart','myCart']" class=" text-gray-400 font-semibold mr-2">
                  cart
                </a>
                <svg class="w-4  h-4 mt-1 text-gray-400 mr-2" fill="none" stroke="currentColor"
                     stroke-width="2.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.25 4.5l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a [routerLink]="['/checkout']" class=" text-gray-400 font-semibold mr-2">
                  checkout
                </a>
              </div>
            </li>
          </ol>
        </nav>
      </div>

    </div>
    <div class="flex flex-col sm:flex-row ">
      <div class="w-full md:w-3/5">
        <app-order-detail></app-order-detail>

      </div>
      <div class="w-full md:w-2/5 ">
        <app-order></app-order>

      </div>
    </div>
  </div>
</div>

