<div class="border-t-gray-400 border-t">
  <div class="flex sm:flex-row">

    <!--  checkbox-->
    <div class="flex items-center justify-center">
      <div class="w-6 h-6 flex flex-col justify-center items-center ">
        <input class="hidden" id="myCheckbox" type="checkbox">
        <label class="w-5 h-5 bg-white rounded-md border border-black" for="myCheckbox"></label>
      </div>
    </div>
    <!--  image-->
    <div class="flex items-center justify-center ">
      <img alt="" class="h-24 sm:ml-8 sm:h-44" src="assets/images/teshirty.png">
    </div>
    <!--  other content -->
    <div class="p-4 sm:flex sm:justify-between w-full md:w-4/5 sm:flex-row">
      <!--  name -->
      <div class="mb-2" >
        <p class="text-lg font-bold">Camisole</p>
        <p class="text-gray-400">Small</p>
      </div>
      <!--  price -->
      <div class="mb-2 sm:flex sm:items-center sm:text-lg">
        <p class="font-semibold">$ 8.00</p>
      </div>
      <!-- quantity -->
     <!---->

      <div class="sm:flex sm:justify-center sm:items-center">
        <div class="flex justify-between  ">
          <div class="border border-orange-400  px-4 space-x-4 py-2 flex items-center justify-between  ">
            <button class="text-orange-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
            </button>
            <p>2</p>
            <button class="text-orange-500">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
              </svg>
            </button>

          </div>
          <button class="border border-orange-400  text-orange-500 px-4  py-2 ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
          </button>

        </div>
      </div>
      <!---->

    </div>
  </div>
</div>
