<div>
  <div class="flex justify-between">
    <h2 class="font-bold text-xl mb-8">POPULAR ITEMS</h2>
    <div class="sm:flex space-x-3" hidden >
      <div class="rounded-full bg-orange-500 w-8 h-8 flex justify-center items-center text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
        </svg>
      </div>
      <div class="rounded-full bg-orange-500  w-8 h-8  flex justify-center items-center text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>
  </div>
  <div class="flex overflow-y-auto snap-proximity snap-x whitespace-nowrap overflow-auto scrollbar-hide">
    <div class=" flex space-x-6 snap-center">

      <!--     product cards goes here -->
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>

    </div>
  </div>
  <div class="  flex justify-between py-16 ">

    <div>
      <h2 class="text-4xl mb-4 font-semibold">
        WHERE PERSONALITY <br> MEETS FABRIC
      </h2>
      <p>
        Personal style in fashion is more than just what you wear—it's a visual <br>
        manifestation of your personality. It's the art of curating outfits that  <br>
        resonate with your inner essence
      </p>
    </div>

    <div>
      <img class="px-16" src="assets/images/girl%202.png" alt="">
    </div>

  </div>

</div>
