<div class="flex justify-center items-center flex-col">
  <div class="mb-6">
    <p class="text-5xl">FOLLOW US </p>
  </div>
  <div class="mb-12">
    <button class="bg-orange-500 text-white rounded-md py-2 px-4">my instagram</button>
  </div>
  <div class="flex overflow-y-auto snap-proximity mb-6 snap-x whitespace-nowrap overflow-auto scrollbar-hide">
    <div class=" flex space-x-6 snap-center">
      <img src="assets/images/follow1.png" alt="">
      <img src="assets/images/follow2.png" alt="">
      <img src="assets/images/follow3.png" alt="">
      <img src="assets/images/follow4.png" alt="">
      <img src="assets/images/follow5.png" alt="">
    </div>
  </div>
</div>
