<div class=" flex flex-col ">

  <div class="flex flex-col justify-start px-4 mb-4">
    <label for="fullname" class="text-lg">fullname</label>
    <input id="fullname" placeholder="fullname" class="border border-gray-300 rounded-md p-2" type="text">
  </div>

  <div class="flex flex-col justify-start px-4 mb-4">
    <label for="email" class="text-lg">email</label>
    <input id="email" placeholder="email" class="border border-gray-300 rounded-md p-2" type="text">
  </div>

  <div class="flex flex-col justify-start px-4 mb-4">
    <label for="phone" class="text-lg">phone</label>
    <input id="phone" placeholder="phone" class="border border-gray-300 rounded-md p-2" type="text">
  </div>

  <div class="ml-4 w-auto mr-4 mb-4">
   <div>
     <button
       class="text-white  justify-between w-full bg-orange-500 rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center "
       type="button">Dropdown button
       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
         <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
       </svg>

     </button>
     <!-- Dropdown menu -->
     <div id="dropdown" class="rounded-lg shadow w-auto ">
       <ul class="py-2 " >
         <li>
           <a href="#" class="block px-4 py-2  ">Dashboard</a>
         </li>
         <li>
           <a href="#" class="block px-4 py-2 ">Settings</a>
         </li>
         <li>
           <a href="#" class="block px-4 py-2 ">Earnings</a>
         </li>
         <li>
           <a href="#" class="block px-4 py-2 ">Sign out</a>
         </li>
       </ul>
     </div>
   </div>
  </div>
  <div class="flex flex-col justify-start px-4 mb-4">
    <label for="city" class="text-lg">city</label>
    <input id="city" placeholder="city" class="border border-gray-300 rounded-md p-2" type="text">
  </div>

</div>
