<div class="flex flex-col sm:flex-row ">
  <div class="w-full md:w-4/5">

    <div class="border-2 p-2">

      <div class="flex items-center justify-center p-2">

        <p class="text-3xl text-center">all the product in the cart is here </p>
      </div>
      <div class=" " *ngFor="let cartProduct of allProductsInTheCart">
        <app-cart-card [cardItem]="cartProduct"></app-cart-card>
      </div>
    </div>
  </div>
  <div class="w-full md:w-1/5 sm:ml-4 mt-4 sm:mt-10">
    <app-cart-checkout></app-cart-checkout>
  </div>
</div>
